* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #3A3A3A;
}

ul {
    list-style: none;
}

.wrapper {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Navigation */

.nav-container {
    padding: 0 100px;
}



.header {
    max-width: 1605px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 230px;
    height: 189px;
}

nav ul {
    display: flex;
}

nav li.list-items {
    width: 100px;
    height: 50px;
    background-color: #666565;
    border-radius: 13px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 40px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-out;
}

nav li.list-items:nth-last-of-type(1) {
    margin-right: 0;
}

nav li.list-items:hover {
    background-color: rgb(223, 25, 25);

}

nav p.list-text {
    color: #DFDFDF;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
}

/* Main */

.main-container {
    padding-top: 91px;
    display: flex;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text-container {
    text-align: center;
}

.main-container .main-text {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #DFDFDF;
}

.second-text-container {
    text-align: center;
    padding-top: 45px;
    margin: 0 auto;
}

.second-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #DFDFDF;
    width: 336px;
}

video {
    margin: 0 auto;
    width: 1280px;
    margin-top: 50px;
}

/*Games Section*/

.games-container {
    display: flex;
    justify-content: center;
}

.games-wrapper {
    padding-top: 216px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-text-container .main-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #DFDFDF;
}

.games-section {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.games-section .image {
    width: 465px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.games-wrapper {
    max-width: 1605px;
}

.games-section-one>.game-one,
.games-section-one>.game-two {
    margin-right: 344px;
}

.game {
    background-color: rgb(77, 77, 77);
    border-radius: 40px;
    width: 465px;
    height: 625px;
    max-height: 625px;
    margin-bottom: 126px;
    transition: box-shadow 400ms ease-out;
}

.game:hover {
    box-shadow: 0 0 20px rgb(37, 37, 37);
}

.game-inside {
    padding: 25px 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    text-align: center;
}

.main-text {
    padding-bottom: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #DFDFDF;
}

.secondary-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #DFDFDF;
    max-width: 388px;
}

.download-section {
    display: flex;
    justify-content: center;
    background-color: #D10505;
    width: 283px;
    padding: 10px 0px;
    transition: background-color 400ms ease-out;
}

.download-section:hover {
    background-color: #b10202;
}

.download-text-section {
    padding-left: 21px;
    margin: auto 0;
}

.padding-1 {
    margin-top: 92px;
}

.padding-2 {
    margin-top: 46px;
}

.padding-3 {
    margin-top: 65px;
}

.padding-4 {
    margin-top: 60px;
}

.download-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #DFDFDF;
}